@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #04043d;
  --color-foreground: #f1f7f6;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Poppins', system-ui, sans-serif;
    antialiased: true;
    line-height: 1.625;
    /* Equivalente a leading-relaxed */
  }

  a {
    font-weight: 500;
    color: white;
    text-underline-offset: 4px;
  }

  a:hover {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

.dark body {
  background-color: #032221;
  color: #f1f7f6;
}